.contactSection {
  padding: 0.2rem 1.5rem 6rem;
  background: linear-gradient(to bottom right, #fff0f5, #ffffff);
  animation: fadeInUp 1.2s ease-out both;
  z-index: 1;
}

.title {
  font-size: 2rem;
  color: var(--color-primary);
  font-weight: 800;
  margin-bottom: 0.5rem;
  font-family: var(--font-family-title);
  text-align: center;
}

.grid {
  display: grid;
  justify-content: center;
}

.infoBlock {
  font-size: 1.1rem;
  color: var(--color-text);
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.infoBlock svg {
  margin-right: 0.5rem;
  color: var(--color-primary);
  min-width: 1.2rem;
}

.infoBlock a {
  color: var(--color-primary);
  text-decoration: none;
}

.infoBlock a:hover {
  text-decoration: underline;
}

.socialGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.4rem 1rem;
  padding: 0.5rem 0;
}

.socialItem {
  display: flex;
  align-items: center;
  font-size: 1rem;
  color: var(--color-primary);
  gap: 0.4rem;
  white-space: nowrap;
}

.socialItem a {
  color: var(--color-primary);
  text-decoration: none;
}

.socialItem a:hover {
  text-decoration: underline;
}

.hoursList {
  margin: 0.3rem 0 0.8rem;
  padding-left: 1rem;
  list-style: none;
  color: var(--color-primary);
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 500;
}

.hoursList li {
  margin-bottom: 0.3rem;
  transition: all 0.2s ease-in-out;
}

.hoursList li:hover {
  transform: translateX(3px);
}

.ctaWrapper {
  /* margin-top: 1rem; */
  display: flex;
  justify-content: center;
}

/* 🔁 Планшети і десктопи */
@media (min-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .infoBlock {
    text-align: left;
    padding-inline: 2rem;
    gap: 0.8rem;
  }

  .socialGrid {
    grid-template-columns: repeat(3, 1fr);
    padding-left: 0;
    max-width: 400px;
  }
  .title {
    padding-top: 2rem;
  }
}

@media (min-width: 1280px) {
  .infoBlock {
    padding-inline: 3rem;
  }

  .socialGrid {
    grid-template-columns: repeat(3, auto);
    justify-content: start;
  }
}
