.adminLayout {
  display: flex;
  background-color: #f9fafb;
  /* min-height: 100vh; */
}

.adminContent {
  flex-grow: 1;
  /* padding: 2rem; */
  transition: padding-left 0.3s ease;
}

@media (min-width: 1024px) {
  .adminLayout {
    flex-direction: column;
  }

  .adminContent {
    padding-left: 260px;

    /* padding: 1.5rem; */
    /* padding-left: 1rem; */
  }
}
