.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(3px);
  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.backdrop.visible {
  opacity: 1;
  pointer-events: all;
}

.inlineLoader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
}
