.backdrop {
  position: fixed;
  inset: 0;
  background: rgba(255, 255, 255, 0.8);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.backdrop.visible {
  opacity: 1;
  pointer-events: all;
}

.inlineLoader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
}
