.title {
  font-size: 1.8rem;
  /* margin-bottom: 2rem; */
  font-weight: 600;
  color: #b12f74;
  text-align: center;
}

.sectionGroup h3 {
  font-size: 1.2rem;
  margin-bottom: 0.8rem;
  color: #333;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.inputGroup input {
  padding: 0.8rem 1rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 100%;
}

.inputGroup input::placeholder {
  color: #aaa;
}

.previewGroup {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin-top: 1rem;
}

.previewItem {
  position: relative;
  border: 1px solid #ddd;
  border-radius: 6px;
  overflow: hidden;
}

.previewImage {
  width: 100%;
  display: block;
  border-radius: 4px;
}

.deleteBtn {
  position: absolute;
  top: 6px;
  right: 6px;
  background-color: rgba(255, 0, 0, 0.8);
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 4px 8px;
  font-size: 0.8rem;
  cursor: pointer;
}

.actions {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

/* =================== MEDIA =================== */

@media (min-width: 768px) {
  .previewGroup {
    grid-template-columns: 1fr;
  }

  .sectionGroup {
    margin-bottom: 1.5rem;
  }

  .inputGroup {
    gap: 1rem;
  }
  .inputGroup input {
    font-size: 1.1rem;
    padding: 1rem;
  }
}

@media (min-width: 1024px) {
  .previewGroup {
    grid-template-columns: repeat(2, 1fr);
  }

  .inputGroup input {
    font-size: 1.2rem;
    padding: 1rem;
  }
}
