.weekSelector {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 0.1rem 0;
  flex-wrap: wrap;
}

.week {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
}

.dateBtn {
  padding: 0.4rem 0.6rem;
  background: #fff;
  border: 1px solid #b12f74;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: 400;
  transition: all 0.2s ease;
}

.dateBtn:hover {
  background-color: #fce4ec;
}

.selectedDate {
  background: #b12f74;
  color: white;
}

.weekday {
  font-size: 0.85rem;
  color: #777;
  margin-bottom: 0.2rem;
}

@media (min-width: 768px) {
  .dateBtn {
    padding: 0.6rem 1rem;
    font-weight: 500;
  }
}
